In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [3]:
df_spark = spark.read.csv("C:\\Users\\madih\\Desktop\\Data Engineering\\PySpark\\Jupyter practice\\table.csv.xls",header = True,inferSchema = True)

In [4]:
df_spark.groupBy("Departments").sum("salary").show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|data Science|       1000|
|    Big Data|      13000|
|    Big Data|       2000|
|Data Science|      16000|
+------------+-----------+

In [5]:
df_spark.groupBy("Departments").min("salary").show()

+------------+-----------+
| Departments|min(salary)|
+------------+-----------+
|         IOT|       5000|
|data Science|       1000|
|    Big Data|       4000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [6]:
df_spark.groupBy("Departments").max("salary").show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|data Science|       1000|
|    Big Data|       5000|
|    Big Data|       2000|
|Data Science|      10000|
+------------+-----------+

In [7]:
df_spark.groupBy("Departments").mean("salary").show()

+------------+-----------------+
| Departments|      avg(salary)|
+------------+-----------------+
|         IOT|           7500.0|
|data Science|           1000.0|
|    Big Data|4333.333333333333|
|    Big Data|           2000.0|
|Data Science|5333.333333333333|
+------------+-----------------+

In [8]:
df_spark.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|data Science|    1|
|    Big Data|    3|
|    Big Data|    1|
|Data Science|    3|
+------------+-----+

In [9]:
df_spark.groupBy("Name","Departments").sum("salary").show()

+-------+------------+-----------+
|   Name| Departments|sum(salary)|
+-------+------------+-----------+
| Rohith|Data Science|       3000|
|rashmi |    Big Data|       2000|
| Rohith|    Big Data|       4000|
| rashmi|Data Science|      10000|
|Krishna|    Big Data|       5000|
|Krishna|Data Science|       3000|
|Chandhu|         IOT|       5000|
|Krishna|         IOT|      10000|
|Chandhu|    Big Data|       4000|
|Chandhu|data Science|       1000|
+-------+------------+-----------+

In [10]:
df_spark.groupBy("Departments").agg(({"salary":"sum"})).show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|data Science|       1000|
|    Big Data|      13000|
|    Big Data|       2000|
|Data Science|      16000|
+------------+-----------+

In [11]:
df_spark.groupBy("Departments").pivot("Name").sum("salary").show()

+------------+-------+-------+------+------+-------+
| Departments|Chandhu|Krishna|Rohith|rashmi|rashmi |
+------------+-------+-------+------+------+-------+
|         IOT|   5000|  10000|  NULL|  NULL|   NULL|
|data Science|   1000|   NULL|  NULL|  NULL|   NULL|
|    Big Data|   4000|   5000|  4000|  NULL|   NULL|
|    Big Data|   NULL|   NULL|  NULL|  NULL|   2000|
|Data Science|   NULL|   3000|  3000| 10000|   NULL|
+------------+-------+-------+------+------+-------+

In [12]:
df_spark1=spark.read.csv("C:\\Users\\madih\\Desktop\\Data Engineering\\PySpark\\Jupyter practice\\table.csv.xls",header=True,inferSchema=True)
df_spark1.show()

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|Chandhu|         IOT|  5000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| rashmi|Data Science| 10000|
|rashmi |    Big Data|  2000|
+-------+------------+------+

In [13]:
df_spark1.na.drop().show()

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|Chandhu|         IOT|  5000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| rashmi|Data Science| 10000|
|rashmi |    Big Data|  2000|
+-------+------------+------+

In [14]:
df_spark1.na.drop(how="all").show()
 # if all values in rows are null then drop # default any
df_spark1.na.drop(how="any",thresh=2).show() 
#atleast 2 non null values should be present. df_pyspark1.na.drop(how="any",subset=["salary"]).show()
 # only in that column rows get deleted

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|Chandhu|         IOT|  5000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| rashmi|Data Science| 10000|
|rashmi |    Big Data|  2000|
+-------+------------+------+

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|Chandhu|         IOT|  5000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| rashmi|Data Science| 10000|
|rashmi |    Big Data|  2000|
+-------+------------+------+

In [15]:
df_spark1.na.fill('Missing Values').show()  #string values will get replaced as string is given as inputdf_pyspark1.na.fill(0).show()
#integer values will get replaced as integer is given as input

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|Chandhu|         IOT|  5000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| rashmi|Data Science| 10000|
|rashmi |    Big Data|  2000|
+-------+------------+------+

In [16]:
df_spark.sort("salary").show() # Sort based on single column
df_spark.sort(df_spark["salary"].desc()).show() # sort based on descending order
df_spark.sort("salary","Name").show() # Sort based on first column then second column

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|rashmi |    Big Data|  2000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
|Chandhu|         IOT|  5000|
|Krishna|    Big Data|  5000|
|Krishna|         IOT| 10000|
| rashmi|Data Science| 10000|
+-------+------------+------+

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Krishna|         IOT| 10000|
| rashmi|Data Science| 10000|
|Chandhu|         IOT|  5000|
|Krishna|    Big Data|  5000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
|rashmi |    Big Data|  2000|
|Chandhu|data Science|  1000|
+-------+------------+------+

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|rashmi |    Big Data|  2000|
|Krishna|Data Science|  3000|
| Rohith|Data Science|  3000|
|Chandhu|    Big Data|  4000|
| Rohith|    Big Data|  4000|
|Chandhu|         IOT|  5000|
|Krishna|    Big Data|  5000|
|Krishna|         IOT| 10000|
| rashmi|Data Science| 10000|
+-------+------------+------+

In [17]:
df_spark.orderBy("salary").show() # Sort based on single column

+-------+------------+------+
|   name| Departments|salary|
+-------+------------+------+
|Chandhu|data Science|  1000|
|rashmi |    Big Data|  2000|
| Rohith|Data Science|  3000|
|Krishna|Data Science|  3000|
| Rohith|    Big Data|  4000|
|Chandhu|    Big Data|  4000|
|Chandhu|         IOT|  5000|
|Krishna|    Big Data|  5000|
|Krishna|         IOT| 10000|
| rashmi|Data Science| 10000|
+-------+------------+------+